# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE

# Secondary data
!OOA.png
!OOD.png
!delegators_of_prescription_diagnosticer.txt
!patients.json
!script.txt
!scriptForSuperRelationshipAnalyzer.txt
!dataSource.txt
!loggers.json
!AvailableServices.txt
!BlockServices.txt
!Data.vec
!Reflection.mat
!Scaling.mat
!Shrinking.mat

# !Makefile

# ...even if they are in subdirectories
!*/